.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.col-same {
  width: 50%;
}

.col-90 {
  width: 90%;
}

.col-10 {
  width: 10%;
}

.btn-col {
  width: 50%;
}

.justify {
  justify-content: flex-end;
}

.align {
  align-items: center;
}

@media screen and (width >= 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
