.html {
  font-size: 10px;
}

body {
  background-color: #f0f0f0;
}

header {
  background-color: #562b81;
  color: #fff;
}

.main-header {
  align-items: center;
}

.main-heading {
  font-size: 1.5rem;
  padding-right: 1rem;
}

.entries-link {
  font-size: 1rem;
}

.placeholder-image {
  width: 100%;
}

.form-labels {
  display: block;
}

.input-elements {
  display: block;
  margin-top: 0.7rem;
  margin-bottom: 1.8rem;
  padding: 0.3rem;
  width: 100%;
  border: 0.1rem solid #b6b6b6;
  border-radius: 0.2rem;
}

.input-elements:focus {
  outline-color: #562b81;
}

.justify {
  justify-content: flex-end;
}

.submit-btn {
  background-color: #562b81;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
  margin: 0 0 0.5rem;
  border-radius: 0.2rem;
}

.entries {
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

h3.entry-title {
  font-size: 1.2rem;
}

.entry-image {
  width: 100%;
  border-radius: 0.5rem;
}

.no-record {
  justify-content: center;
  padding-top: 2rem;
}

.col-same {
  width: 50%;
}

.new-entry-btn {
  background-color: #562b81;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.5rem 0.7rem;
  margin: 0 0 0.5rem;
  border-radius: 0.2rem;
  justify-content: flex-end;
}

@media only screen and (width >= 768px) {
  .main-heading {
    font-size: 2.2rem;
    padding-left: 1.5rem;
    padding-right: 2rem;
  }

  .entry-main-heading {
    font-size: 2rem;
  }

  .placeholder-image {
    padding: 0 0 1rem;
  }

  .entry-content {
    margin-top: 1rem;
  }

  .no-record {
    font-size: 1.3rem;
  }

  .entries-link {
    font-size: 1.5rem;
  }
}
